<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/register" method="POST">
            Username: <input type="text" name="username" placeholder="Enter a username." required><br><br>
            Password: <input type="password" name="password" placeholder="Enter a password." required><br><br>
            Confirm Password: <input type="password" name="confirm" placeholder="Confirm your password." required> <br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>