<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <!-- Get username and password-->
            Username: <input type="text" name="username" placeholder="Enter a username." required><br><br>
            Password: <input type="password" name="password" placeholder="Enter a password." required><br><br>
            Confirm Password: <input type="password" name="confirm" placeholder="Confirm your password." required> <br><br>
            <!-- Button to register account-->
            <input type="submit" value="Register"><br><br>
            <!-- if passwords do not match-->
            {% if error %}
                <p style="color:red;">{{ error }}</p><br><br>
            {% endif %}
        </form>
        <!-- Button to go to login page -->
         <a href="/login">Already have an account?</a><br><br>
         <a href="/">Home</a>
    </body>
</html>