{% extends "layout.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block heading %}
    Search for a book!
{% endblock %}
    
{% block body %}
    <form action="/search" method="POST">
        <!-- search bars -->
        <input type="text" name="isbn" placeholder="Search by ISBN">
        <input type="text" name="title" placeholder="Search by Title">
        <input type="text" name="author" placeholder="Search by Author">
        <input type="text" name="year" placeholder="Search by Year">
        <button type="submit">Search!</button> 
        <!-- if error occurs-->
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}                       
    </form>

    {% if books is not none %}
        {% if books %}
            <ul>
                {% for book in books %}
                    <li>
                        <a href="{{url_for('book', isbn=book.isbn) }}">
                            {{ book.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}    
{% endblock %}